.userTable{
    width: 80%;
    margin: 40px auto;
    background-color: aliceblue;
    padding: 20px 10px 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.65);
}

.userTable table{
    width: 100%;
    margin-top: 30px;
}

.userTable table thead th{
    background-color: rgb(38, 79, 79);
    color: white;
    text-align: center;
}

.userTable table tbody td{
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.actionButtons button{
margin: 5px;
}

.noData{
    margin: 20px;
    text-align: center;
}